<div>
    <h2 id="page-heading">
        <span>Param Notifs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-param-notif-trecc" [routerLink]="['/param-notif-trecc/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Param Notif
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="paramNotifs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Max Envoi</span></th>
            <th><span>Envoi En Cours</span></th>
            <th><span>Debut Horaire</span></th>
            <th><span>Fin Horaire</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paramNotif of paramNotifs ;trackBy: trackId">
                <td><a [routerLink]="['/param-notif-trecc', paramNotif.id, 'view' ]">{{paramNotif.id}}</a></td>
                <td>{{paramNotif.maxEnvoi}}</td>
                <td>{{paramNotif.envoiEnCours}}</td>
                <td>{{paramNotif.debutHoraire | date:'medium'}}</td>
                <td>{{paramNotif.finHoraire | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/param-notif-trecc', paramNotif.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/param-notif-trecc', paramNotif.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'param-notif-trecc', { outlets: { popup: paramNotif.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
