<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="paramNotif">
            <h2><span>Param Notif</span> {{paramNotif.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Max Envoi</span></dt>
                <dd>
                    <span>{{paramNotif.maxEnvoi}}</span>
                </dd>
                <dt><span>Envoi En Cours</span></dt>
                <dd>
                    <span>{{paramNotif.envoiEnCours}}</span>
                </dd>
                <dt><span>Debut Horaire</span></dt>
                <dd>
                    <span>{{paramNotif.debutHoraire}}</span>
                </dd>
                <dt><span>Fin Horaire</span></dt>
                <dd>
                    <span>{{paramNotif.finHoraire}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/param-notif-trecc', paramNotif.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
