<div>
    <h2 id="page-heading">
        <span>Campagnes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-campagne-trecc" [routerLink]="['/campagne-trecc/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Campagne
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="campagnes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idCampagne"><span>Id Campagne</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="statut"><span>Statut</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fichier"><span>Fichier</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateDebut"><span>Date Debut</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateFin"><span>Date Fin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let campagne of campagnes ;trackBy: trackId">
                <td><a [routerLink]="['/campagne-trecc', campagne.id, 'view' ]">{{campagne.id}}</a></td>
                <td>{{campagne.idCampagne}}</td>
                <td>{{campagne.statut}}</td>
                <td>{{campagne.fichier}}</td>
                <td>{{campagne.dateDebut | date:'medium'}}</td>
                <td>{{campagne.dateFin | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/campagne-trecc', campagne.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/campagne-trecc', campagne.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'campagne-trecc', { outlets: { popup: campagne.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
