<div>
    <h2 id="page-heading">
        <span>Courriers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-courrier-trecc" [routerLink]="['/courrier-trecc/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Courrier
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="courriers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idCourrier"><span>Id Courrier</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="demandeEnvoi"><span>Demande Envoi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateEnvoi"><span>Date Envoi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idCpr"><span>Id Cpr</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nir"><span>Nir</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="typeCourrier"><span>Type Courrier</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modele"><span>Modele</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="statutGED"><span>Statut GED</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="statutEnvoiCourrier"><span>Statut Envoi Courrier</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fkCampagne.id"><span>Fk Campagne</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let courrier of courriers ;trackBy: trackId">
                <td><a [routerLink]="['/courrier-trecc', courrier.id, 'view' ]">{{courrier.id}}</a></td>
                <td>{{courrier.idCourrier}}</td>
                <td>{{courrier.demandeEnvoi | date:'medium'}}</td>
                <td>{{courrier.dateEnvoi | date:'medium'}}</td>
                <td>{{courrier.idCpr}}</td>
                <td>{{courrier.nir}}</td>
                <td>{{courrier.typeCourrier}}</td>
                <td>{{courrier.modele}}</td>
                <td>{{courrier.statutGED}}</td>
                <td>{{courrier.statutEnvoiCourrier}}</td>
                <td>
                    <div *ngIf="courrier.fkCampagne">
                        <a [routerLink]="['../campagne-trecc', courrier.fkCampagne?.id, 'view' ]" >{{courrier.fkCampagne?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/courrier-trecc', courrier.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/courrier-trecc', courrier.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'courrier-trecc', { outlets: { popup: courrier.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="courriers && courriers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
